// Here you can add other styles


.c-header.c-header-fixed{
    top:0px;
}

.click-file{
    cursor:pointer;
}
.elites-bg{
  background-color: #2E2751 !important;
}
.btn-orange{
  background-color: #F3A712 !important;
  color: #fff;
}

a.btn-orange:hover,
a.btn-orange:focus,
button.btn-orange:hover,
button.btn-orange:focus {
  background-color: #e95f2b !important;
  color: #fff;
}

.btn-purple{
  background-color: #2E2751 !important;
  color: #fff;
}

a.btn-purple:hover,
a.btn-purple:focus,
button.btn-purple:hover,
button.btn-purple:focus {
  background-color: #01172f !important;
  color: #fff;
}

.c-sidebar-dark{background-color:#2E2751 !important;}
